<div class="main">
  <div class="months">
    <h1>FHWA - Increment or subtract / with background / Form View</h1>
    <p class="test-labels">From 1 to 12 (Step 1)</p>
    <span class="label">FHWA Term <strong>*</strong></span>
    <app-numeric-input
      [(ngModel)]="months"
      [min]="1"
      [max]="12"
      [step]="1"
      [defaultValue]="6"
      [background]="'#E9EFFD'"
      [placeholder]="'months'"
      (valueChange)="onTermChange($event)"
    >
    </app-numeric-input>
    <br />
    <br />
    <br />
    <br />
    <h1>Scaled Up Element for better preview (Scale x2)</h1>
    <div class="scale">
      <span class="label">FHWA Term <strong>*</strong></span>
      <app-numeric-input
        [(ngModel)]="months2"
        [min]="1"
        [max]="12"
        [step]="1"
        [defaultValue]="6"
        [background]="'#E9EFFD'"
        [placeholder]="'months'"
        (valueChange)="onTermChange($event)"
      >
      </app-numeric-input>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="regular">
    <h1>Miles - Increment or subtract / no background / Table View</h1>
    <p class="test-labels">From 10K to 20K (Step 1K)</p>
    <app-numeric-input
      [(ngModel)]="term"
      [min]="10000"
      [max]="20000"
      [step]="1000"
      [defaultValue]="15000"
      (valueChange)="onTermChange($event)"
    >
    </app-numeric-input>
    <br />
    <p class="test-labels">From 20K to 50K (Step 5K)</p>
    <app-numeric-input
      [(ngModel)]="term2"
      [min]="20000"
      [max]="50000"
      [step]="5000"
      [defaultValue]="25000"
      (valueChange)="onTermChange($event)"
    >
    </app-numeric-input>
    <br />
    <p class="test-labels">From 50K to 100K (Step 10K)</p>
    <app-numeric-input
      [(ngModel)]="term3"
      [min]="50000"
      [max]="100000"
      [step]="10000"
      [defaultValue]="60000"
      (valueChange)="onTermChange($event)"
    >
    </app-numeric-input>
    <br />
    <p class="test-labels">From 100K (Step 20K)</p>
    <app-numeric-input
      [(ngModel)]="term4"
      [min]="100000"
      [step]="20000"
      [defaultValue]="200000"
      (valueChange)="onTermChange($event)"
    >
    </app-numeric-input>
  </div>
</div>
